name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: jetli/wasm-pack-action@v0.4.0
      with:
        version: 'latest'
    - name: Setup cargo
      run: cargo install cargo-all-features
    - name: Format
      run: cargo fmt --all --check
    - name: Build
      run: cargo build
    - name: Run tests for standard
      run: cargo test-all-features
    - name: Run tests for web
      run: wasm-pack test --node
